# For Loop

In [2]:
#for loop requires objects that can iterate in the condition statement.
x=[1,2,3,4,5,6,7,8]

for i in x:
    print(i)

1
2
3
4
5
6
7
8

## Range()
* range function provides the range from one start point to the end point.
* if only one number is given it will consider 0 as the start point

In [16]:
x=2
for i in range(11):
        print(x," * ", i," = ",x*i)

2  *  0  =  0
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [15]:
#nested for loop. Lets create nested for loop to write tables for 1 to 2
x=[2,3]
for j in x:
    for i in range(11):
        print(j," * ", i," = ",j*i)

2  *  0  =  0
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20
3  *  0  =  0
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30